@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<p>Данный сайт разработан Ватником В.М. как тестовое задание на должность младшего C# разработчика в компанию Верста24 в 2022 году.</p>
